:root {
    --full-width: 98.5vw;
    --full-height: 98.5vh;
    --font-size-large: 1.5em;
    --font-size-medium: 1.2em;
    --font-size-small: 0.7em;

    --light-red-color: #ffaaa5; 
    --light-orange-color: #ffe9e3;
    --white-color: #fafafa;
}

body {
    background-color: black;
    height: var(--full-height);
    width: var(--full-width);
    margin: 1px;
}

.content {
    display: grid;
    grid-template-columns: 1fr, 4fr;
    grid-auto-flow: column;

    font-size: var(--font-size-large);
}

/* Nav-panel and subsequent items */

#nav-panel {
    background-color: var(--light-orange-color);
    width: 15vw;
    height: var(--full-height);
}

#title-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-weight: 600;
    background-color: var(--light-red-color);
    border-bottom: 1px solid black;
}

#project-list ul {
    list-style-type: none;
}

ul > li {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.name-div:hover {
    background-color: green;
}

.icon-div {
    text-align: right;
    padding-right: 1vw;
}

.name-div {
    text-align: left;
}

/* Project Container and subsequent items */

#project-container {
    background-color: var(--white-color);
    height: var(--full-height);
    width: 84vw;
}

table {
    width: 100%;
}

table td:first-child, th:first-child {
    border-left: none;
}

th, td {
    border-left: 1px solid black;
    padding: 0.2em 0.5em;
}

tr {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: var(--white-color);
}

tr:nth-child(even) {
    background-color: var(--light-orange-color);
}

th {
    background-color: var(--light-red-color);
    font-size: var(--font-size-medium);
}

td {
    text-align: center;
}

